            <div class="custom-footer" style="display: block;">
            <div class="footer-social-icons">
            </div>
            <h6 class="text-footer"><a rel="license" href="{{ site.url }}/disclosure/" title="CC BY-NC-SA 4.0 License, link to site disclosure" class="social-icon"><i class="fa fa-creative-commons"></i></a> <a rel="license" href="{{ site.url }}/disclosure/" title="CC BY-NC-SA 4.0 License, link to site disclosure">2017-{{ site.time | date: '%Y' }}</a>: <a href="{{ site.url }}" title="Home">youngho-jo.github.com</a>
            </div>
